.App {
  text-align: center;
}

.app-section {
  justify-content: center;
  text-align: center;
  background-color: #fc64b8;
  position: absolute;
  height: 70vh;
  width: 70vw;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

body {
  background-color: #ffbce1;
}

.ask-valentines {
  width: max-content;
  height: max-content;
}

#no-btn{
  position: absolute;
  transition: .5s;
  background-color: rgb(250, 244, 160);
  border-radius: 16px;
  padding: 10px;
  height: 40px;
  width: 150px;
}

.yes-btn {
  transition: .5s;
  background-color: rgb(250, 244, 160);
  border-radius: 16px;
  padding: 10px;
  height: 40px;
  width: 150px;
}
